
//color theme #ffd600
$primary-color : #ffd600; //yellow-mankind
$secondary-color: #eab200;

$base00: #182633; //base background
$base01: #5a738e;

$font-base: #73879c;
$font-base2: #777777;

$yellow: #ffe600;
$orange: #ffb000;
$red: #ff4400;
$darkred: #8b0000;
$green: #1ABB9C;
$darkgreen: #005c00;

//style
